.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--size-16);
  padding-left: var(--size-16);

  @media (--screen-sm) {
    padding-right: var(--size-24);
    padding-left: var(--size-24);
  }

  @media (--screen-lg) {
    padding-right: var(--size-32);
    padding-left: var(--size-32);
  }

  @media (--screen-xl) {
    max-width: 1164px;
  }
}

.container-10 {
  width: 83.33333333%;
  margin: auto;

  &--md {
    @media (--screen-md) {
      display: grid;
      grid-template-columns: var(--gap) 1fr var(--gap);

      > * {
        grid-column: 2;
      }
    }
  }
}

.container-8 {
  width: 66.66666667%;
  margin: auto;

  &--md {
    @media (--screen-md) {
      width: 66.66666667%;
      margin: auto;
    }
  }
}

[class^='grid-'],
[class*=' grid-'] {
  display: grid;

  &::before {
    content: none; /* Permits to use with container */
  }
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-columns: column 100px 100px 1fr;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

[class^='grid-'],
[class*=' grid-'] {
  @media all and (--screen-sm) {
    &.grid-4--sm {
      grid-template-columns: repeat(4, 1fr);
    }

    &.grid-3--sm {
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-2--sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

[class^='grid-'],
[class*=' grid-'] {
  @media all and (--screen-md) {
    &.grid-4--md {
      grid-template-columns: repeat(4, 1fr);
    }

    &.grid-3--md {
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-2--md {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

[class^='grid-'],
[class*=' grid-'] {
  @media all and (--screen-lg) {
    &.grid-4--lg {
      grid-template-columns: repeat(4, 1fr);
    }

    &.grid-3--lg {
      grid-template-columns: repeat(3, 1fr);
    }

    &.grid-2--lg {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* Gaps */

:root {
  --gap: calc(100% / 12);
}

.gap {
  grid-gap: var(--size-16);

  @media (--screen-md) {
    grid-gap: var(--size-24);
  }

  &--32 {
    grid-gap: var(--size-32);
  }

  &--column {
    grid-column-gap: calc(100% / 12);
  }
}

.no-gap {
  grid-gap: 0;
}

.grid-row-gap--6 {
  grid-row-gap: calc(var(--size-8) * 6);
}

/* Patterns */

.grid-sidebar {
  @media (--screen-md) {
    grid-template-columns: 264px 1fr;
  }
}

/* Alignments */

.justify-self-center {
  > * {
    justify-self: center;
  }
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-self-center {
  > * {
    align-self: center;
  }
}

/* Reverse */

.reverse {
  grid-auto-flow: dense;

  > *:first-child {
    grid-column-end: -1;
  }

  &.grid-3,
  &.grid-4 {
    > *:nth-child(2) {
      grid-column-end: -2;
    }
  }

  &.grid-4 {
    > *:nth-child(3) {
      grid-column-end: -3;
    }
  }
}

/* Ordering */
.order-1--mobile {
  @media (--screen-sm-max) {
    order: -1;
  }
}
